/* MOBILE FIRST */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

:root {
  --base-color: #faf1ca;
  --soft-blue: #84b4b8;
  --dark-blue: #365071;
  --old-rose: #bf7c76;
  --soft-brown: #a67f60;
  --border: #dfd9cb;
  --text: #303030;
}

body {
  height: 100vh;
  font-size: 1.2rem;
  font-family: "Jost";
  color: var(--text);
  text-align: left;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--base-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--soft-brown);
  border-radius: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2.4rem;
}

h2,
h3 {
  text-align: left;
  color: var(--dark-blue);
}

.header {
  background-color: var(--old-rose);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--base-color);
}

.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.nav .nav-list li a {
  color: var(--base-color);
  font-weight: 400;
  transition: transform 0.4s ease;
}

.nav .nav-list li a:hover {
  transform: scale(1.1);
  border-bottom: 2px solid var(--base-color);
}

.header img {
  width: 20vw;
}

.index {
  background-color: var(--old-rose);
  border-bottom: 2px solid var(--soft-brown);
  min-height: 85vh;
  padding: 2rem 0 0 0;
}

.index-container {
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--base-color);
}

.span-title {
  font-size: 2.6rem;
}

.index-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--base-color);
  color: var(--dark-blue);
  backdrop-filter: blur(10px);
  padding: 10px 30px;
  max-width: 300px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 500;

  transition: transform 0.4s ease;
}

.index-container a:hover {
  transform: scale(1.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.index .index-img {
  height: 78vw;
  width: 80vw;
  background-image: url(../images/ilustration.jpg);
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: bottom right;
  border: 10px solid #dfd9cb;
  margin: 0 auto;
}

.index .img-before {
  display: block;
}

.index .img-after {
  display: none;
}

.about {
  height: auto;
  background: url(../images/pattern-blue-10.png) center center fixed,
    var(--base-color);
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.about h2 {
  margin-bottom: 4rem;
}

.about-div {
  margin: 0 auto;
}

.about-div h3 {
  margin-bottom: 0.5rem;
  color: var(--soft-brown);
  font-size: 1.9rem;
}

.about-text {
  background-color: var(--base-color);
  padding: 2rem;
  border: 1px solid var(--soft-brown);
  border-radius: 3px;
}

.about p.small-title {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--soft-brown);
}

.about img.me {
  width: 75%;
  border: 2px solid var(--soft-brown);
  border-radius: 100%;
  display: block;
  margin: 4rem auto 4rem auto;
}

div.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-media a img {
  width: 10vw;
  height: 10vh;
}

.social-media a img.github-2 {
  width: 11vw;
  height: 12vh;
}

.social-media a {
  transition: transform 0.4s ease;
}

.social-media a:hover {
  transform: scale(1.2);
}

.projects {
  /* background: url(/src/pattern-base.png) center center fixed, var(--old-rose); */
  background-color: var(--old-rose);
  padding: 8rem 2rem;
  border-top: 2px solid var(--soft-brown);
  border-bottom: 2px solid var(--soft-brown);
}

.projects h2 {
  color: var(--base-color);
}

/* container em volta do card */
.projects .card-container .projects-container {
  margin: 4rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: left;
}

::selection {
  background-color: #986dff;
  color: #fff;
}

.projects .card-container .projects-container > article {
  height: auto;
  padding: 22px;
  margin: 8px;
  flex-basis: calc(100% - 20px);
  flex-grow: 1;
  border: 2px solid var(--soft-brown);
  transition: 1s all ease;
  background-color: var(--base-color);
  transition: transform 0.4s ease;
}

.projects .card-container .projects-container > article:hover {
  box-shadow: inset 0px 0px 80px 2px #cf9f785c;
}

.projects .card-container .projects-container > article img {
  width: 100%;
  border: 1px solid #30303054;
  border-radius: 3px;
}

.projects .card-container .projects-container > article h4 {
  margin-top: 1rem;
  color: var(--dark-blue);
  font-size: 1.4rem;
  font-weight: 400;
}
.projects .card-container .projects-container > article p {
  margin: 24px 0px;
  color: #7c7c7c;
  line-height: 2rem;
  font-size: 1.2rem;
}

.projects .card-container a {
  color: var(--dark-blue);
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
}

.projects .card-container a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -7px;
  left: 0;
  background: linear-gradient(
    270deg,
    var(--soft-blue) 0%,
    var(--dark-blue) 100%
  );
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.projects .card-container a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.projects a.repositorio {
  color: var(--base-color);
  display: block;
  margin: 0 auto;
  text-align: center; /* Centraliza o texto dentro do link */
  width: fit-content; /* Ajusta a largura do link ao conteúdo */
}

.skills {
  background: url(../images/pattern-blue-10.png) center center fixed,
    var(--base-color);
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 4rem;
  border-bottom: 2px solid var(--soft-brown);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skills-container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 20%;
  flex-grow: 1;
  height: 100px;
  background-color: var(--base-color);
  position: relative;
  border: 1px solid var(--soft-brown);
  border-radius: 4px;
  transition: transform 0.4s ease;
}

.skills-container article img {
  height: 10vh;
}

.skills .hoverChangeDescription {
  display: none;
}

.skills-container article:hover {
  /* box-shadow: inset 5px 0 100px #cf9f786a; */
  box-shadow: #cf9f786a 0px -50px 36px -28px inset;
}

.skills-container .services {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills-container .services > article {
  background-color: var(--base-color);
  height: auto;
  padding: 32px;
  justify-content: left;
  flex-basis: calc(80% - 20px);
  flex-grow: 1;
  border: 1px solid var(--soft-brown);
  transition: transform 0.4s ease;
  border-radius: 4px;
}

.skills-container .services > article img {
  padding: 0 0 1rem 0;
}

.skills-container .services > article h4 {
  margin-left: 1rem;
  padding: 0px 0px;
  font-size: 1.4rem;
  text-align: left;
  color: var(--dark-blue);
}

.skills-container .services > article p {
  color: #7c7c7c;
  line-height: 2rem;
  font-size: 1.2rem;
}

.skills-container .services > article:hover {
  box-shadow: #cf9f786a 0px -50px 36px -28px inset;
}

.small-title {
  font-size: 1.9rem;
}

.skills h3 {
  color: var(--dark-blue);
  font-size: 1.9rem;
}

.contact {
  background-color: var(--soft-brown);
  padding: 8rem 2rem 2rem 2rem;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  color: var(--base-color);
  text-align: center;
}

.contact p {
  font-family: "Jost";
  color: var(--base-color);
  font-size: 1.5rem;
}

.contact .social-media {
  margin-top: 3rem;
}

.contact h4:nth-of-type(1) {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.form-container {
  padding: 4rem 2rem 2rem 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 1rem;
}

.form-container form label {
  color: var(--base-color);
  font-weight: 500;
}

.form-container form input {
  padding: 0.7rem;
  box-shadow: 3px 3px var(--soft-blue);
  border: none;
  color: var(--text);
}

.form-container form textarea {
  padding: 0.7rem;
  box-shadow: 3px 3px var(--soft-blue);
  border: none;
  color: var(--text);
}

.form-container button {
  width: 50vw;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: var(--base-color);
  color: var(--soft-brown);
  font-weight: 600;
  border: none;
  display: block;
  margin: 2rem auto;
  cursor: pointer;
  transition: transform 0.6s ease;
}

.form-container button:hover {
  transform: scale(1.1);
}

.footer {
  font-size: 1.1rem;
  background-color: var(--base-color);
  padding: 1rem;
  text-align: center;
  color: var(--soft-brown);
}

/* .card-container {
  max-width: 1140px;
  margin: 0 auto;
} */
